@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about CICD workflows from GitHub<a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core in a new feature brance</a>.</p>
</div>
